@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Manrope', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #94d2bd;
}

.container {
    height: 800px;
    width: 800px;
    padding: 25px;
    background: #f8f8f8;
    border-radius: 10px;
}

.cards, .card, .view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card {
    cursor: pointer;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
}

.cards .card .view {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.card .front-view {
    display: none;
}

.card .back-view img {
    max-width: 9rem;
}